<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Factuur Coworker</title>

    <style>
    .invoice-box {
        max-width: 800px;
        margin: auto;
        padding: 30px;
        border: 1px solid #eee;
        box-shadow: 0 0 10px rgba(0, 0, 0, .15);
        font-size: 16px;
        line-height: 24px;
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color: #555;
    }

    .invoice-box table {
        width: 100%;
        line-height: inherit;
        text-align: left;
    }

    .invoice-box table td {
        padding: 5px;
        vertical-align: top;
    }

    .invoice-box table tr td:nth-child(2) {
        text-align: right;
    }

    .invoice-box table tr td:nth-child(3) {
        text-align: right;
    }

    .invoice-box table tr.top table td {
        padding-bottom: 20px;
    }

    .invoice-box table tr.top table td.title {
        font-size: 45px;
        line-height: 45px;
        color: #333;
    }

    .invoice-box table tr.information table td {
        padding-bottom: 40px;
    }

    .invoice-box table tr.heading td {
        background: #eee;
        border-bottom: 1px solid #ddd;
        font-weight: bold;
    }

    .invoice-box table tr.details td {
        padding-bottom: 20px;
    }

    .invoice-box table tr.item td{
        border-bottom: 1px solid #eee;
    }

    .invoice-box table tr.item.last td {
        border-bottom: none;
    }

    .invoice-box table tr.total td:nth-child(2) {
        border-top: 2px solid #eee;
        font-weight: bold;
    }

    @media only screen and (max-width: 600px) {
        .invoice-box table tr.top table td {
            width: 100%;
            display: block;
            text-align: center;
        }

        .invoice-box table tr.information table td {
            width: 100%;
            display: block;
            text-align: center;
        }
    }

    
    </style>
</head>

<body>
    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="3">
                    <table>
                        <tr>
                            <td class="title">
                                <img src="cid:logoimage" style="width:100%; max-width:300px;">
                            </td>

                            <td>
                                Factuurnummer #: <%= factuurnummer %><br>
                                Factuurdatum: <%= moment().format('LL') %><br>
                                Vervaldatum: <%= moment().add(1, 'M').format('LL') %>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="information">
                <td colspan="3">
                    <table>
                        <tr>
                            <td>
                                Planet Talent<br>
                                Frank van Dyckelaan 7b<br>
                                9140 Temse<br>
                                Tel. +32 3 226 48 28<br><br>
                                BTW: BE123456789<br>
                                IBAN: BE12 3456 7890 1234<br>
                                BIC: GEBABEBB<br>
                            </td>

                            <td>
                                <%= fullname %><br>
                                <%= email %>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="heading">
                <td>
                    Evenement op <%= moment(item.startdate).format( 'LL' ) %>
                </td>

                <td>
                    Prijs
                </td>
                <td>
                    Totale prijs
                </td>
            </tr>
            <tr class="item">
              <td>
                  Huur <%= ruimte %>
              </td>

              <td>
                  € <%= item.price %>
              </td>

              <td>
                  € <%= item.price %>
              </td>
            </tr>
            <tr class="item">
              <td>
                <%= item.aantalpersonen %> plaatsen in <% if(ruimte == 'Co-working Lab') { %> het <% } else { %> de <% } %> <%= ruimte %>.
              </td>

              <td>
                € <%= item.priceperperson %> per persoon
              </td>

              <td>
                € <%= totalperperson %>
              </td>
            </tr>
            <% if (item.catering) { %>
            <tr class="item last">
              <td colspan="2">
                Exclusief catering. Er volgt nog een aparte factuur hiervoor.
              </td>
              <td>

              </td>
            </tr>
            <% } %>

            <tr class="total">
                <td colspan="2">

                </td>
                <td>
                   Totaal: € <%= totalprice %>
                </td>
            </tr>
        </table>
        <br><br>
        <div>
          Wij verzoeken u vriendelijk het bedrag van € <%= totalprice %> voor <%= moment().add(1, 'M').format('L') %> op onze bankrekening over te maken, onder vermelding van het factuurnummer <%= factuurnummer %>.
        </div>
    </div>
</body>
</html>
